*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android App Bundle files
*.aab

# Keystore files - NEVER commit these
*.keystore
*.jks
**/msl_keystore*
app/msl_keystore.jks

# Sentry Config File
sentry.properties
/sentry-wizard
